<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="nav">資料庫啦啦啦的ubereat</a>
                <a class="navbar-brand" href="logout">Logout</a>>
            </div>

        </div>
    </nav>
    <div class="container">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#menu1">shop</a></li>

        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>Profile</h3>
                <div class="row">
                    <div class="col-xs-10">
                        Accouont: sherry, user, PhoneNumber: 0912345678, walletbalance: 100
                        <!-- Modal -->
                        <button type="button " style="margin-left: 5px;" class=" btn btn-info " data-toggle="modal"
                            data-target="#myModal">Add value</button>
                        <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Add value</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" id="Meal" placeholder="enter add value">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 
                
             -->
                <h3>Search</h3>
                <div class=" row  col-xs-8">
                    <form class="form-horizontal" action="/action_page.php">
                        <div class="form-group">
                            <label class="control-label col-sm-1" for="Shop">Shop</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="Enter Shop name">
                            </div>
                            <label class="control-label col-sm-1" for="distance">distance</label>
                            <div class="col-sm-5">


                                <select class="form-control" id="sel1">
                                    <option>near</option>
                                    <option>medium </option>
                                    <option>far</option>

                                </select>
                            </div>

                        </div>

                        <div class="form-group">

                            <label class="control-label col-sm-1" for="Price">Price</label>
                            <div class="col-sm-2">

                                <input type="text" class="form-control">

                            </div>
                            <label class="control-label col-sm-1" for="~">~</label>
                            <div class="col-sm-2">

                                <input type="text" class="form-control">

                            </div>
                            <label class="control-label col-sm-1" for="Meal">Meal</label>
                            <div class="col-sm-5">
                                <input type="text" list="Meals" class="form-control" id="Meal" placeholder="Enter Meal">
                                <datalist id="Meals">
                                    <option value="Hamburger">
                                    <option value="coffee">
                                </datalist>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-1" for="category"> category</label>


                            <div class="col-sm-5">
                                <input type="text" list="categorys" class="form-control" id="category"
                                    placeholder="Enter shop category">
                                <datalist id="categorys">
                                    <option value="fast food">

                                </datalist>
                            </div>
                            <button type="submit" style="margin-left: 18px;" class="btn btn-primary">Search</button>

                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="  col-xs-8">
                        <table class="table" style=" margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>

                                    <th scope="col">shop name</th>
                                    <th scope="col">shop category</th>
                                    <th scope="col">Distance</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>

                                    <td>macdonald</td>
                                    <td>fast food</td>

                                    <td>near </td>
                                    <td> <button type="button" class="btn btn-info " data-toggle="modal"
                                            data-target="#macdonald">Open menu</button></td>

                                </tr>


                            </tbody>
                        </table>

                        <!-- Modal -->
                        <div class="modal fade" id="macdonald" data-backdrop="static" tabindex="-1" role="dialog"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">menu</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!--  -->

                                        <div class="row">
                                            <div class="  col-xs-12">
                                                <table class="table" style=" margin-top: 15px;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Picture</th>

                                                            <th scope="col">meal name</th>

                                                            <th scope="col">price</th>
                                                            <th scope="col">Quantity</th>

                                                            <th scope="col">Order check</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td><img src="Picture/1.jpg" with="50" heigh="10"
                                                                    alt="Hamburger"></td>

                                                            <td>Hamburger</td>

                                                            <td>80 </td>
                                                            <td>20 </td>

                                                            <td> <input type="checkbox" id="cbox1" value="Hamburger">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td><img src="Picture/2.jpg" with="10" heigh="10"
                                                                    alt="coffee"></td>

                                                            <td>coffee</td>

                                                            <td>50 </td>
                                                            <td>20</td>

                                                            <td><input type="checkbox" id="cbox2" value="coffee"></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                        <!--  -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Order</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="menu1" class="tab-pane fade">

                <h3> Start a business </h3>
                {% if information %}
                    {% for shop in information %}
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="shop_name">shop name</label>
                                    <input class="form-control" id="shop_name" placeholder={{shop.shop_name}} type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="food_category">shop category</label>
                                    <input class="form-control" id="food_category" placeholder={{shop.type}} type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="latitude">latitude</label>
                                    <input class="form-control" id="latitude" placeholder={{shop.lat}} type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="longitude">longitude</label>
                                    <input class="form-control" id="longitude" placeholder={{shop.lng}} type="text">
                                </div>
                            </div>
                        </div>


                        <div class=" row" style=" margin-top: 25px;">
                            <div class=" col-xs-3">
                                <button type="button" id="register" class="btn btn-primary">register</button>
                            </div>
                        </div>
                    {%endfor%}
                {% else %}
                    <div class="form-group ">
                            <div class="row">
                                <div class="col-xs-2">
                                    <label for="shop_name">shop name</label>
                                    <input class="form-control" id="shop_name" placeholder="shop name" type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="food_category">shop category</label>
                                    <input class="form-control" id="food_category" placeholder="shop category" type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="latitude">latitude</label>
                                    <input class="form-control" id="latitude" placeholder="latitude" type="text">
                                </div>
                                <div class="col-xs-2">
                                    <label for="longitude">longitude</label>
                                    <input class="form-control" id="longitude" placeholder="longitude" type="text">
                                </div>
                            </div>
                        </div>


                        <div class=" row" style=" margin-top: 25px;">
                            <div class=" col-xs-3">
                                <button type="button" id="register" class="btn btn-primary">register</button>
                            </div>
                        </div>
                {% endif %}
                <hr>
                <h3>ADD</h3>
                
                <form id="upload-file" action="/nav" method="post" enctype="multipart/form-data">
                    <div class="form-group ">
                        <div class="row">

                            <div class="col-xs-6">
                                <label for="meal_name">meal name</label>
                                <input class="form-control" id="meal_name" type="text">
                            </div>
                        </div>
                        <div class="row" style=" margin-top: 15px;">
                            <div class="col-xs-3">
                                <label for="price">price</label>
                                <input class="form-control" id="price" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label for="amount">amount</label>
                                <input class="form-control" id="amount" type="text">
                            </div>
                        </div>


                        <div class="row" style=" margin-top: 25px;">
                            <!-- hidden input -->
                            <input type="hidden" id="add_item" value="add_item">
                            <div class=" col-xs-3">
                                <label for="myFile">上傳圖片</label>
                                <input id="myFile" type="file" name="myFile" multiple class="file-loading">

                            </div>
                            <div class="form-group">
                                <input onclick="sent_add()" type="button" value="Add" class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="  col-xs-8">
                        <table class="table" style=" margin-top: 15px;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Picture</th>
                                    <th scope="col">meal name</th>

                                    <th scope="col">price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            {% for item in item_all %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{item.PID}}</th>
                                    <td><img src="data:image/jpeg;base64,{{ item.content }}" width="50" height="50" alt={{item.item_name}}></td>
                                    <td>{{item.item_name}}</td>

                                    <td>{{item.price}}</td>
                                    <td>{{item.amount}}</td>
                                    <td><button type="button" class="btn btn-info" data-toggle="modal"
                                            data-target=#{{item.PID}}>
                                            Edit
                                        </button></td>
                                    <!-- Modal -->
                                    <div class="modal fade" id={{item.PID}} data-backdrop="static" tabindex="-1"
                                        role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">{{item.item_name}} Edit</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="{{item.item_name}}_new_price">price</label>
                                                            <input class="form-control" id="{{item.item_name}}_new_price" type="text">
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <label for="{{item.item_name}}_new_quantity">quantity</label>
                                                            <input class="form-control" id="{{item.item_name}}_new_quantity" type="text">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <input type="hidden" id="{{item.item_name}}_edit_item" value="edit_item">
                                                    <input type="hidden" id="{{item.item_name}}_which_item" value={{item.item_name}}>
                                                    <input onclick="edit('{{item.item_name}}')" type="button" value="Edit" class="btn btnn-secondary">
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td>
                                        <form action="{{ url_for('nav') }}" method=post class=delete-movie>
                                            <input type="hidden" id="{{item.item_name}}_delete_item" name="hidden" value="delete_item">
                                            <input type="hidden" id="{{item.item_name}}_which_item" name="which_item" value={{item.item_name}}>
                                            <input type=submit value=Delete value="Delete" class="btn btn-danger">
                                        </form>
                                    </td>
                                </tr>
                                
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>

                </div>


            </div>



        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script>
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
    </script>

    <script>
        $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
        function sent_add() {
            var form_data = new FormData($('#upload-file')[0]);
            form_data.append("meal_name", $("#meal_name").val());
            form_data.append("price", $("#price").val());
            form_data.append("amount", $("#amount").val());
            form_data.append("hidden", $("#add_item").val());
            $.ajax({
				type: "POST",
				url: '/nav',
				data: form_data,
				contentType: false,
				processData: false,
				dataType: "json"
			});

        }
        
    </script>

<script>
    $SCRIPT_ROOT = '{{ request.script_root|tojson|safe }}';
    function edit(item) {
        var form_data = new FormData();
        form_data.append("new_price", $("#"+item+"_new_price").val());
        form_data.append("new_quantity", $("#"+item+"_new_quantity").val());
        form_data.append("hidden", $("#"+item+"_edit_item").val());
        form_data.append("item_name", $("#"+item+"_which_item").val());
        $.ajax({
            type: "POST",
            url: '/nav',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: "json"
        });

    }
    
</script>

    <script>
        var shop_info = '{{shop_info}}'
        var regis_or_not = shop_info.length;

        if(regis_or_not>2){
            document.getElementById("register").disabled = true;
        }
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>